<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>Backbone</title>
    <link rel="stylesheet" type="text/css" href="libs/ui-lightness/jquery-ui.css">
    <script src="libs/jquery.js"></script>
    <script src="libs/jquery-ui.js"></script>
    <script src="libs/underscore.js"></script>
    <script src="libs/backbone.js"></script>
    <script src="libs/backbone.localStorage.js"></script>
    <script src="backbone.js"></script>
  </head>
  <body>
    <h1>Backbone</h1>
    <p><button id="create">neuer Kunde</button></p>
    <div id="createDialog" title="Kunde anlegen">
      <p><strong>Vorname</strong><br><input type="text" class="given_name"></p>
      <p><strong>Nachname</strong><br><input type="text" class="last_name"></p>
      <p><button>Anlegen</button></p>
    </div>
    <div id="editDialog" title="Kunde bearbeiten">
      <p><strong>Vorname</strong><br><input type="text" class="given_name"></p>
      <p><strong>Nachname</strong><br><input type="text" class="last_name"></p>
      <p><button>Ändern</button></p>
    </div>
    <table>
      <thead>
        <tr>
          <th>Vorname</th>
          <th>Nachname</th>
          <th colspan="2">Aktion</th>
        </tr>
      </thead>
      <tbody id="main"></tbody>
    </table>
    <script type="text/template" id="row-template">
      <td class="given_name"><%= customer.escape('given_name') %></td>
      <td class="last_name"><%= customer.escape('last_name') %></td>
      <td><button class="delete">Löschen</button></td>
      <td><button class="edit">Editieren</button></td>
    </script>
  </body>
</html>